<launch>
  <arg name="model_name" default="bluerov2"/>
  <arg name="uuv_name" default="$(arg model_name)"/>
  <arg name="joy_id" default="0"/>
  <arg name="output_topic" default="cmd_vel"/>
  <arg name="teleop_on" default="true"/>

  <group ns="$(arg uuv_name)" if="$(arg teleop_on)">
    <node pkg="joy" type="joy_node" name="joystick">
      <param name="autorepeat_rate" value="10"/>
      <param name="dev" value="/dev/input/js$(arg joy_id)"/>
    </node>
    <node pkg="uuv_teleop" type="vehicle_teleop.py" name="joy_uuv_velocity_teleop">
      <remap from="output" to="/$(arg uuv_name)/$(arg output_topic)"/>
      <remap from="joy" to="/$(arg uuv_name)/joy"/>
      <rosparam command="load" file="$(find bluerov2_teleop)/config/joy_vel_ps4.yaml" />
    </node>
  </group>


</launch>
